@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 350px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.hidden {
    display: none;
}

