@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
}


/* Khi mở trang web, ngăn chặn rơi vào chế độ nghỉ */
@keyframes preventSleep {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

body {
    background-color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 350px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: preventSleep infinite;/* Ngăn chặn chế độ nghỉ cho toàn bộ trang */
}

/* Hiển thị đồng hồ đếm ngược */
#countdown {
    display: block;
}

/* Ẩn đồng hồ đếm ngược trong quá trình ngăn chặn chế độ nghỉ */
body.prevent-sleep #countdown {
    display: none;
}

.hidden {
    display: none !important;
}

#inputContainer {
    display: flex;
}

#inputContainer > input {
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-right: 20px;
}

.btn-start {
    background: #ffffff;
    border: 0;
    border-radius: 25px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 20px;
    transition: ease-out 0.3s;
}

.btn-start:hover {
    background: darkred;
    color: white;
}


/*------------- Responsive -----------------*/

/*Mobile*/
@media screen and (max-width: 739px) {
    body {
        width: auto;
        height: 95vh;
        font-size: 250px;
    }

    #inputContainer > input {
        width: 150px;
    }
}

/*Table*/
@media screen and (min-width: 740px) and (max-width: 1023px) {
    body {
        width: auto;
        height: 95vh;
        font-size: 250px;
    }

    #inputContainer > input {
        width: 150px;
    }

}
